/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  padding: 0 2rem;
}

h3 {
  font-size: 1.5rem;
}

input[type=text] {
  max-width: 12rem;
}

input[type=date] {
  max-width: 9rem;
}

input[type=number] {
  max-width: 5rem;
}

.navbar-text {
  margin: 1rem 0;
}

.navbar-text span {
  vertical-align: top;
}

.navbar-text span a {
  margin: 1em;
}

.logo-img {
  width: 100px;
  height: 40px;
}

.blue-amount {
  color: #2D2E93;
}

.green-amount {
  color: mediumaquamarine;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

a.btn:link, a.btn:visited {
  background-color: #2C277A;
  font-size: 1.2rem;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  min-width: 20rem;
}

a.btn:hover, a.btn:active {
  background-color: #56277A;
}

.notice {
  color: #9F6000;
  background-color: #FEEFB3;
}

.error {
  color: red;
}

